.about-seller{
    .seller{
        display: flex;
        img{
            width: 13px;
        }
        .seller-picture{
            width: 130px;
            height: 130px;
            margin-inline-end: 10px;
        }
        button{
            margin: 0;
            padding: 0;
            height: 40px;
            width: 130px;
            color: $clrSecondary5;
            background-color: $clrPrimary1;
            border: 1px solid $clrSecondary5;
            border-radius: 4px;
            &:hover{
                color: $clrPrimary1;
                background-color: $clrSecondary5;
            }
        }
    }
    .seller-info{
        border: 1px solid $clrSecondary2;
        color: $clrSecondary5;
        padding: 24px;
        .seller-details{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $clrSecondary2;
            padding-block-end: 16px;
            .inner-details{
                width: 50%;
                .inner-inner-details{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        p{
            padding-block-start: 16px;
            margin: 0;
        }
    }
}