.app-footer {
    color: $clrSecondary7;
    padding: 1em 2em;
    text-align: center;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    border-top: 1px solid $clrSecondary3;

    h1 {
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        color: $clrSecondary4;
        font-size: 16px;
    }

    .social-icons {
        gap: 1em;
        align-self: self-start;

        .icon-container {
            display: inline-flex;
            border-radius: 50%;
            cursor: pointer;
            transition: background 0.3s;
            padding: 0.5em;

            &:hover {
                background: $clrSecondary3;
            }

            .social-icon {
                width: 20px;
                height: 100%;
            }
        }
    }
}