.app-footer {
    color: $clrSecondary7;
    text-align: center;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    border-top: 1px solid $clrSecondary4;

    .footer-part {
        h1 {
            font-family: arial;
            font-size: 30.5px;
            letter-spacing: -3px;
        }

        h2 {
            font-family: 'macan-regular';
            color: $clrSecondary4;
            font-size: 14px;
        }

        .social-icons {
            gap: 1em;

            .icon-container {
                display: flex;
                border-radius: 50%;
                cursor: pointer;
                transition: background 0.3s;
                padding: 0.5em;

                &:hover {
                    background: $clrSecondary3;
                }

                a {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .access-icon {
            width: 32px;
            height: 32px;
            cursor: pointer;

            .circle-wrapper {
                fill: $clrSecondary1;
                stroke: $clrSecondary5;
            }

            .person-head,
            .person-torso {
                fill: $clrSecondary5;
            }

            &:hover {
                .circle-wrapper {
                    fill: $clrSecondary45;
                    stroke: none;
                }

                .person-head,
                .person-torso {
                    fill: $clrSecondary8;
                }
            }
        }
    }
}