.app-header {
  position: relative;
  z-index: 10;
  width: 100%;

  &.home-page {
    position: fixed;
    top: 0;
  }

  .container {
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
  }

  .main-nav {

    .logo-dropdown-area,
    .nav-links {
      flex-shrink: 0;
    }

    .logo-dropdown-area {
      align-items: center;
      gap: 10px;

      i {
        width: fit-content;
        align-self: center;
        display: flex;
        cursor: pointer;
        padding-bottom: 3px;
      }

      h1 {
        font-family: arial;
        font-size: 30.5px;
        letter-spacing: -2.5px;

        span {
          margin-bottom: 8px;
          margin-left: -2px;

          i {
            padding: 0;
            align-self: flex-end;
          }
        }
      }
    }

    .nav-links {
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 2em;
      align-items: center;
      font-size: 16px;
      font-weight: bold;

      a,
      button {
        color: $clrSecondary6;
        transition: color 0.3s, background-color 0.3s, border 0.3s;

        &:hover {
          color: $bgColor3 !important;
        }
      }

      .join {
        padding: 9px 16px;
        border-radius: 5px;
        font-size: 14px;
        font-family: 'macan-bold';
        background: transparent;
        border: 1px solid;

        &:hover {
          background-color: $bgColor3;
          color: $clrPrimary1 !important;
          border-color: $bgColor3 !important;
        }
      }

      .login {
        background: none;
        font-size: 16px;
        font-weight: bold;
        padding: 0;
        font-family: 'macan-regular';
      }

      .user-info {
        align-items: center;
        width: 32px;
        height: 32px;
        margin: auto;
        position: relative;

        .user-dropdown {
          position: absolute;
          top: 150%;
          right: 0;
          background-color: $clrPrimary1;
          border: 1px solid $clrSecondary2;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          z-index: 10;
          width: max-content;

          &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 17px 17px 17px;
            border-color: transparent transparent $clrSecondary2 transparent;
            position: absolute;
            top: -22px;
            right: -1px;
            z-index: -1;
          }

          &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 16px 16px 16px;
            border-color: transparent transparent $clrPrimary1 transparent;
            position: absolute;
            top: -20px;
            right: 0;
            z-index: 0;
          }

          a {
            display: block;
            padding: 10px 15px;
            color: $clrSecondary5;
            font-weight: 400;
          }

          button {
            display: block;
            padding: 10px 15px;
            color: $clrSecondary5;
            background: none;
            font-family: "macan-regular";
            font-size: 16px;
            font-weight: 400;
            width: 100%;
            border-top: 1.5px solid $clrSecondary2;
            text-align: left;
          }
        }

        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}