.aside-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  max-width: 275px;
  height: 100vh;
  gap: 1em;
  z-index: 15;
  padding: 1em;

  .top-icons {
    justify-content: space-between;

    .chat-icon {
      position: relative;

      i {
        position: relative;
        z-index: 5;

        svg {
          fill: $clrSecondary8;
          width: 36px;
          height: 36px;
        }
      }

      &.notification::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        background-color: $clr9;
        opacity: 0.75;
        border-radius: 50%;
        animation: grow 0.7s infinite alternate;
        z-index: 1;

        @keyframes grow {
          to {
            scale: 1.5 1.5;
          }
        }
      }
    }

    .user-info {
      gap: 0.5em;

      span {
        color: $clrSecondary8;
        align-self: center;
        font-family: 'macan-bold';
      }
    }

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  a,
  button {
    color: $clrSecondary6;
    transition: color 0.3s, background-color 0.3s, border 0.3s;

    &:hover {
      color: $bgColor3 !important;
    }
  }

  .join {
    padding: 9px 16px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'macan-bold';
    background: $bgColor3;
    border: 1px solid $bgColor3;
    color: $clrPrimary1;

    &:hover {
      background-color: $bgColor5;
      border: 1px solid $bgColor5;
      color: $clrPrimary1 !important;
    }
  }

  .login {
    background: none;
    font-size: 16px;
    padding: 0;
    font-family: 'macan-regular';
    text-align: left;
  }

  .logout {
    display: block;
    padding: 12px 0;
    color: $clrSecondary6;
    background: none;
    font-family: 'macan-regular';
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border-top: 1.5px solid $clrSecondary2;
    text-align: left;
  }

  .MuiPaper-root {
    box-shadow: none;

    &.Mui-expanded {
      margin: 0;
    }

    &::before {
      display: none;
    }

    #panel1bh-header {
      padding: 0;
      min-height: 0;
      max-height: 26px;

      .MuiAccordionSummary-content {
        &.Mui-expanded {
          margin: 0;
        }

        .MuiTypography-root {
          color: $clrSecondary6;
          font-family: 'macan-regular';

          &:hover {
            color: $bgColor3 !important;
          }
        }
      }
    }

    .MuiCollapse-root {
      .MuiCollapse-wrapper {
        .MuiCollapse-wrapperInner {
          .MuiAccordion-region {
            max-height: 275px;
            overflow-y: scroll;

            .MuiAccordionDetails-root {
              padding: 0;

              .buyer-orders-list {
                .list-contents {

                  .buyer-order {
                    margin-bottom: 1em;
                    padding-bottom: 1em;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr auto auto;
                    gap: 16px;
                    font-weight: 100;
                    border-bottom: 1px solid $clrSecondary2;
                    overflow-x: hidden;

                    &:last-child {
                      border: none;
                    }

                    &:not(:last-child):hover {
                      border-bottom: 1px solid $bgColor3;
                    }

                    .order-image {
                      grid-column: 1 / -1;
                      grid-row: 1;
                      position: relative;

                      img {
                        margin-block-start: 0.375em;
                        object-fit: cover;
                        border: 1px solid $clrSecondary4;
                        border-radius: 10px;
                        max-height: 150px;
                      }

                      .invoice-icon {
                        i {
                          width: 48px;
                          height: 48px;
                          position: absolute;
                          top: 0;
                          right: -8px;
                          cursor: pointer;
                          z-index: 5;

                          svg {
                            fill: #FDD005;
                            max-height: 48px;

                            &:hover {
                              fill: #d6b41a;
                            }
                          }
                        }
                      }

                      .review-icon {
                        i {
                          position: absolute;
                          bottom: -4px;
                          left: 0;
                          cursor: pointer;
                          z-index: 5;
                          width: 48px;
                          height: 48px;

                          svg {
                            fill: #464443;
                            max-height: 48px;

                            &:hover {
                              fill: #888785;
                            }
                          }
                        }
                      }
                    }

                    .order-title {
                      grid-column: 1 / -1;
                      grid-row: 2;
                    }

                    .seller-name {
                      grid-column: 1 / -1;
                      grid-row: -1;
                      font-size: 16px;
                      align-self: center;
                    }

                    .order-status {
                      grid-column: 2;
                      grid-row: -1;
                      text-align: center;
                      text-transform: uppercase;

                      &.pending {
                        color: $clr15;
                      }

                      &.denied {
                        color: $clr9;
                      }

                      &.accepted {
                        color: $clr11;
                      }

                      &.completed {
                        color: $clr13;
                      }

                      &.reviewed {
                        color: $clrSecondary4;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}