.gig-preview {
  display: grid;
  // grid-template-rows: 1fr 1fr;
  background-color: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 0.5em;
  min-width: rem(245px);
  // max-width: rem(370px);
  width: 100%;

  img {
    aspect-ratio: 5/3;
    object-fit: cover;
    width: 100%;
    //   width: 100%;
    //   height: 166px;
    //   //height: auto;  //way to check the dots!!!!!!!
    //   background-color: $clrPrimary1;
    //   border: 1px solid $clrSecondary2;
    //   z-index: 0;
  }

  .carousel-container:hover ~ .preview-body .gig-title {
    text-decoration: underline;
  }

  .gig-title {
    display: block;
    overflow: hidden; 
    text-overflow: ellipsis;
    min-height: 2.4em; 
    line-height: 1.2; 
    max-height: 2.4em;
    padding: 0 0 0.25em 0;
    margin-top: rem(5px);
  }
  .preview-user-info {
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75em 0;
    padding: 0 0 0 0.25em;

    .avatar-fullname {
      display: grid;
      grid-auto-flow: column;
      gap: 0.5em;
    }

    .avatar {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: none;
    }

    .level {
      text-transform: capitalize;
      color: $clrSecondary8;
      padding: 0 0.5em;
      border-radius: 4px;
    }
  }

  .user-rating {
    padding: 0.5em 0 0;

    .rate {
      padding: 0 0.25em;
    }

    .rate-count {
      color: $clrSecondary5;
    }
  }

  .gig-price-likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: .5em;

    span {
      .i {
        display: flex;
      }
    }
  }
}
