.gig-header {
    display: flex;
    flex-direction: column;

    .nav-header{
        display: flex;
        gap:8px;
        padding-block-start: 12px;
        img{
            width: 16px;
            height: 16px;
        }
    }

    p {
        margin: 0;
    }

    .rating {
        display: flex;
        justify-content: space-between;

        img {
            width: 20px;
            height: 20px;
        }

        .seller-picture {
            width: 30px;
            height: 30px;
        }
    }

    img {
        width: 100%;
    }

    .gig-images {
        img {
            width: 20%;
        }
    }
}