.gig-preview {
  display: grid;
  background-color: $clrPrimary1;
  border-radius: 0.5em;
  min-width: rem(245px);
  width: 100%;
  height: fit-content;
  position: relative;

  img {
    aspect-ratio: 5/3;
    border-radius: 0.5em;
    background: $clrSecondary5;
  }

  .carousel-container:hover~.preview-body .gig-title {
    text-decoration: underline;
  }

  .heart {
    position: absolute;
    background: none;
    right: rem(6px);
    top: rem(6px);
    height: rem(34px);
    width: rem(32px);
    cursor: pointer;
    user-select: none;
  }

  .gig-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 2.4em;
    line-height: 1.2;
    max-height: 2.4em;
    padding: 0 0 0.25em 0;
    margin-top: rem(5px);
  }

  .user-rating-order {
    padding: 0.5em 0 0;

    .rating-score {
      align-items: baseline;

      .rate {
        padding: 0 0.25em;
      }

      .rate-count {
        color: $clrSecondary5;
      }
    }
  }

  .gig-price {
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0.5em;

    span {
      .i {
        display: flex;
      }
    }
  }
}

.mobile-gig-preview {
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), -2px 2px 5px rgba(0, 0, 0, 0.15),
    0 2px 5px rgba(0, 0, 0, 0.15), 0 -2px 5px rgba(0, 0, 0, 0.15);
  position: relative;

  .gig-preview-content {
    grid-template-columns: repeat(5, 1fr);

    &:hover {
      text-decoration: none;
    }

    .level {
      position: absolute;
      padding: 0 0.5em;
      font-weight: 600;
      border-radius: 4px;
      margin-inline-start: auto;
      top: 6%;
      left: 2%;
      align-items: center;
      gap: 0.25em;

      &[data-level="Pro Talent"] {
        color: $clrPrimary1;
        background-color: $clr17;
      }

      &[data-level="New Seller"] {
        color: $clrPrimary1;
        background-color: $bgColor5;
      }

      i {
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    .heart {
      position: absolute;
      background: none;
      right: rem(10px);
      top: rem(13.5px);
      cursor: pointer;
      user-select: none;
    }

    img {
      border-radius: 0.5em 0 0 0.5em;
      grid-column: 1 / 3;
      height: 100%;
      aspect-ratio: 1.5/1;
      object-fit: cover;
      background: $clrSecondary5;
    }

    .mobile-preview-body {
      grid-column: 3 / -1;

      .user-mobile-preview {
        padding: 0.75em;
        width: 100%;

        .user-rating-order {
          width: 100%;
          gap: 0.75em;
          flex-direction: row;
          align-items: center;
          align-self: start;

          i {
            margin-block-end: 4px;
          }

          .rating-score {
            align-items: baseline;
            font-size: 1.1em;

            .rate {
              padding: 0 0.25em;
            }

            .rate-count {
              color: $clrSecondary5;
              font-size: 0.85em;
            }
          }
        }

        .gig-title {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.2;
          max-height: 2.4em;
          margin: 0.5em 0 1em 0;
        }

        .gig-price {
          align-self: end;
          text-align: right;
          display: block;

          .from {
            font-size: 0.75em;
            color: $clrSecondary5;
            margin-inline-end: 0.5em;
          }
        }
      }
    }
  }
}