.gig-details-aside {
  top: rem(30px);
  height: fit-content;
  background-color: $clrPrimary1;
  color: $clrPrimary2;

  .package-tabs {
    font-size: 1rem;
    border: 1px solid $clrSecondary2;
    border-bottom: none;

    button {
      background-color: $clrSecondary0;
      width: 100%;
      border: solid $clrSecondary2;
      border-width: 0 1px 1px 0;
      color: $clrSecondary5;
      font-size: 1rem;
      padding: 16px;

      &.checked {
        border-bottom: 3px solid $clrPrimary2;
        color: $clrPrimary2;
      }
    }

    &:last-child {
      border-inline-start: none;
    }
  }

  .package-content {
    justify-content: space-between;
    height: fit-content;
    border: 1px solid $clrSecondary2;
    border-top: none;
    padding: 0 1.5rem;

    .type-price {
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0 1.5rem 0;

      .price {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    p {
      color: $clrSecondary6;
    }

    .additional-info {
      color: $clrSecondary6;
      margin-block-end: 0.5rem;
      font-size: rem(14px);

      .delivery-wrapper {
        align-items: center;

        .delivery {
          margin-inline-start: 0.5rem;
        }
      }

      .revisions-wrapper {
        margin-inline-start: 1rem;
        align-items: center;

        .revisions {
          margin-inline-start: 0.5rem;
        }
      }
    }

    .features {
      padding: 0;
      color: $clrSecondary11;
      font-size: rem(14px);
      margin-block-end: rem(20px);

      li {
        align-items: center;

        i {
          margin-inline-end: 16px;
        }
      }
    }

    button {
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1.5rem;
      width: 100%;
      line-height: 100%;
      background-color: $clrPrimary3;
      color: $clrPrimary1;
      border: 1px solid $clrPrimary3;
      border-radius: 0.25rem;
      margin-block-end: 1.25rem;
      font-size: 16px;

      span {
        margin: auto;
      }

      i {
        svg {
          fill: $clrPrimary1;
          width: 1rem;
          height: 1rem;
        }
      }

      &:hover {
        background-color: $clrSecondary8;
      }
    }
  }

  .contact-seller {
    align-items: center;
    justify-content: center;
    background-color: $clrSecondary0;
    padding: 1.5rem;
    margin-block-end: 1rem;

    button {
      color: $clrSecondary6;
      width: 100%;
      border: 1px solid $clrSecondary5;
      border-radius: 4px;
      font-size: 1rem;
      line-height: 100%;
      padding: 0.75rem 1.5rem;
      position: relative;
      text-align: center;
      transition: 0.2s cubic-bezier(0.75, 0, 0.25, 1);
      background: none;

      &:hover {
        background: $clrSecondary5;
        color: $clrPrimary1;
      }
    }
  }
}