.gig-details-aside {
  position: sticky;
  top: 0;
  height: fit-content;
  margin-block-end: 30px;
  background-color: $clrPrimary1;
  color: $clrPrimary2;
  grid-column: 2/3;

  .gig-interactions {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-block-end: 30px;

    .heart {
      user-select: none;
      i {
        display: flex;
      }
    }

    img {
      width: 1em;
      height: 1em;
    }

    .liked-count {
      min-width: 2em;
      display: flex;
      align-items: center;
      border: 1px solid $clrSecondary2;
      border-radius: 3px;
      padding: 2px 10px;
      margin-inline-start: 10px;
      height: 31px;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
      }

      &::before {
        border-color: transparent #dadbdd transparent transparent;
        left: -9px;
        top: 50%;
        transform: translateY(-50%);
        border-width: 7px 9px 8px 0;
      }

      &::after {
        border-color: transparent #fff transparent transparent;
        border-width: 6px 8px 6px 0;
        left: -8px;
        top: 8px;
        z-index: 3;
      }
    }

    .share {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 34px;
      background-color: transparent;
      border: 1px solid $clrSecondary10;
      border-radius: 8px;
      margin-inline-start: 10px;

      &:hover {
        background-color: $clrSecondary10;
      }
    }
  }

  .gig-order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    border: 1px solid $clrSecondary2;
    padding: 24px;

    .title {
      display: flex;
      justify-content: space-between;
      margin-block-end: 10px;
    }

    p {
      color: $clrSecondary6;
    }

    img {
      width: 13px;
    }

    .shipping-info {
      display: flex;
      justify-content: space-between;
      color: $clrSecondary6;
      font-weight: bold;
      margin-block-end: 10px;

      .inside-shipping {
        display: flex;

        span {
          margin-inline-start: 8px;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      color: $clrSecondary6;
      margin-block-end: 10px;

      img {
        margin-inline-end: 16px;
      }
    }

    .btn-continue {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1.5rem;
      width: 100%;
      background-color: $clrPrimary3;
      color: $clrPrimary1;
      border: 1px solid $clrPrimary3;
      border-radius: 0.25rem;
      cursor: pointer;

      span {
        font-family: macan-bold;
        margin: auto;
      }

      i {
        display: flex;
        align-items: center;

        svg {
          fill: white;
          width: 1rem;
          height: 1rem;
        }
      }

      &:hover {
        background-color: $clrSecondary8;
      }
    }
  }
}
