.gig-preview {
  // min-width: 150px;
  // max-width: 17.325em;
  // max-height: 23.125em;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  background-color: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 0.5em;

  img {
    width: 100%;
    height: 166px;
    // height: auto;
    background-color: $clrPrimary1;
    border: 1px solid $clrSecondary2;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    z-index: 0;
  }

  .preview-user-info {
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75em 0;

    .avatar-fullname {
      display: grid;
      grid-auto-flow: column;
      gap: 0.5em;
    }
    .avatar {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: none;
    }
    .level {
      text-transform: capitalize;
    }
    .gig-title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .user-rating {
      .rating-score {
        img {
          width: 13px;
        }
      }
    }
  }

  .gig-price-likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.8125em;
    padding: 0.625em 0.75em;
    border-top: 0.0625em solid $clrSecondary2;
  }
}
