.gig-header {
    display: flex;
    flex-direction: column;
    margin-block-end: 30px;
    
    .nav-header{
        display: flex;
        gap:8px;
        padding-block-start: 12px;
        img{
            width: 16px;
            height: 16px;
        }
    }

    p {
        margin: 0;
    }

    .header {
        display: flex;
        margin-block-end: 15px;

        img {
            width: 20px;
            height: 20px;
            margin-inline-end: 10px;
        }

        .user-stats{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: fit-content;
        }

        .stars{
            display: flex;
            align-items: center;
            width:100%;
            justify-content: space-between;
            img{
                margin-inline-end: 4px;
            }
            .divider{
                margin-inline-start: 10px;
                margin-inline-end: 10px;
            }
            .orders-in-queue{
                display: flex;
                gap: 5px;
            }
        }

        .seller-picture {
            width: 64px;
            height: 64px;
            border-radius: 32px;
        }
    }

    img {
        width: 100%;
    }

    .gig-images {
        img {
            width: 20%;
        }
    }
}