.gig-results-title {
  width: 100%;

  .search-param {
    h1 {
      font-size: rem(28px);
      font-family: macan-light;
      font-weight: 400;
      line-height: 36px;
      color: #222325;
      padding-bottom: 12px;
      padding-top: 32px;
    }
  }

  .explore-category {
    padding: 1.25em 0 0.75em 0;
    color: $clrSecondary8;

    Link {
      padding: rem(9px);
    }

    .divider {
      color: $clrSecondary45;
      margin: 0 0.5em;
    }
  }
}

.gig-filter {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding-block-start: 1em;

  .floating-top-bar {
    .floating-menu {
      position: relative;
    }

    .filter-nav {
      display: flex;

      .btn {
        span {
          transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }

  &::after {
    content: '';
    display: block;
    height: 1em;
    width: 100%;
    background-color: #fff;
  }
}

.selected-filters-wrapper {
  width: 100%;

  .selected-filters {
    .select-filter {
      background-color: #efeff0;
      border: none;
      border-radius: 56px;
      color: #222325;
      margin: 0 rem(10px) rem(10px) 0;
      padding: 0.25em 1em;
      transition: border-color 0.35s ease;
      cursor: pointer;
      display: inline-block;
      font-family: macan-bold;

      .remove-icon {
        svg {
          fill: #62646a;
        }

        margin-left: 12px;
        position: relative;
      }
    }

    .select-filter:hover {
      color: #62646a;
    }
  }
}