.gig-reviews,
.user-reviews {
  color: $clrPrimary2;
  width: 100%;
  margin-block-start: 4em;

  .title {
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 700;
  }

  .reviews {
    margin-block-start: 1em;

    .gig-review {
      display: flex;
      flex-direction: row;
      border-block-start: 1px solid $clrSecondary2;
      padding: 40px 0;

      .username {
        font-weight: bold;
      }

      .pfp {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        margin-inline-end: 16px;
        object-fit: cover;
        min-width: 48px;
        background: $clrSecondary5;
      }

      .country {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $clrSecondary6;

        img {
          margin-inline-end: 0.5em;
          height: 20px;
          width: 20px;
        }
      }

      .review-details {
        display: flex;
        align-items: center;
        margin-block-start: 20px;
        margin-block-end: 10px;

        .stars {
          margin: 0;
          display: flex;
          align-items: baseline;

          .rating {
            margin-inline-start: 0.25em;
            font-weight: 500;
          }

          svg {
            margin-inline-end: 0.25em;
            fill: $clrSecondary8;
          }
        }

        .divider {
          margin: 0 8px;
        }

        .time-ago {
          font-size: 14px;
          line-height: 21px;
          color: $clrSecondary6;
        }
      }

      .comment {
        line-height: 1.5em;
      }
    }
  }
}