.gig-header{
    display: flex;
    flex-direction: column;
    p{
        margin: 0;
    }
    .rating{
        display: flex;
        justify-content: space-between;
        img{
            width:13px;
        }
        .seller-picture{
            width: 30px;
            height: 30px;
        }
    }
    img{
        width: 100%;
    }
    .gig-images{
        img{
            width: 20%;
        }
    }
}