.carousel-container {
  overflow: hidden;
  position: relative;
  border-radius: .5em;

  .carousel {
    height: 100%;
    overflow: hidden;
    .carousel-item {
      width: 100%;
      height: 100%;
      position: relative;
      background: linear-gradient(180deg, #fff, #b5b6ba);
      object-fit: contain;
    }
    .carousel-item::after {
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        hsla(0, 0%, 100%, 0)
      );
      bottom: 0;
      content: '';
      height: 40px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 0;
    }

    // img {
    //   width: 100%;
    //   height: 100%;
    //   overflow: hidden;
    // }
  }

  // transition: all ease-in 0.3s;
  .arrow {
    position: absolute;
    user-select: none;
    opacity: 0;
    top: 50%;
    background: transparent;
    width: 25px;
    transform: translateY(-50%);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    padding: 0.25em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.left {
      left: -32px;
      transition: left 0.2s;
      svg {
        transform: rotate(90deg);
        fill: $clrPrimary1;
      }
    }

    &.right {
      right: -32px;
      transition: right 0.2s;
      svg {
        transform: rotate(-90deg);
        fill: $clrPrimary1;
      }
    }
  }

  .arrow:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  .arrow::before {
    content: '';
    position: absolute;
    top: -10px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    bottom: -10px; /* Adjust as needed */
    left: -10px; /* Adjust as needed */
  }

  .dot-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    z-index: 3;

    .dot {
      width: 10px;
      height: 10px;
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }

    .dot:hover {
      transform: scale(1.2);
    }

    .dot.active {
      background-color: whitesmoke;
    }
  }
}

.carousel-container:hover {
  .arrow {
    // background-color: #fff;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);

    &.right {
      right: 12px;
    }
    &.left {
      left: 12px;
    }
  }
}
