.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 166px;
  // height: auto;
  background-color: $clrPrimary1;
  border: 1px solid $clrSecondary2;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
//   z-index: 0;
  button {
    margin: 0;
  }

  .carousel {
    position: relative;
    display: flex;
    transition: transform 0.3s ease-in-out;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .arrow-container {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    transition: opacity ease-in 0.3s;
    // pointer-events: none;

    .left {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    .right {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    .arrow {
      background: rgba(0, 0, 0, 0.2);
      color: white;
      border: none;
      font-size: 1em;
      // padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    .arrow:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }
  .dot-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .dot {
      width: 10px;
      height: 10px;
      background-color: #ccc;
      border: none;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      
    }

    .dot:hover {
      transform: scale(1.2);
    }
    .dot.active {
      background-color: #007bff; /* Active dot color */
    }
  }
}

.carousel-container:hover {
  .arrow-container {
    opacity: 1;
  }
}
