.carousel-container {
  overflow: hidden;
  position: relative;
  border-radius: 0.5em;
  height: 100%;
  width: 100%;
  img {
    aspect-ratio: 5/3;
    border-radius: 0.5em;
  }
  .carousel {
    overflow: hidden;
    display: flex;
    transition: transform 0.3s ease-in-out;

    .carousel-item {
      border-radius: 0.5em;
      width: 100%;
      position: relative;
      background: linear-gradient(180deg, #fff, #b5b6ba);
      object-fit: contain;
    }
    .carousel-item::after {
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        hsla(0, 0%, 100%, 0)
      );
      border-radius: 0.5em;
      bottom: 0;
      content: '';
      height: 40%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }

  // transition: all ease-in 0.3s;
  .arrow {
    position: absolute;
    user-select: none;
    z-index: 1;
    opacity: 0;
    top: 50%;
    background: transparent;
    width: 10.75%;
    height: 16.5%;
    transform: translateY(-50%);
    // color: white;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    padding: 0.25em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    i {
      display: block;
      width: 100%;
      height: 100%;
    }

    &.left {
      left: -32px;
      // transition: left 0.2s ease-in-out;
      svg {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 40%;
        height: 40%;
        fill: $clrPrimary2;
      }
    }

    &.right {
      right: -32px;
      // transition: right 0.2s ease-in-out;
      svg {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 40%;
        height: 40%;
        fill: $clrPrimary2;
      }
    }
  }

  .arrow-gig-details {
    position: absolute;
    user-select: none;
    z-index: 1;
    top: 50%;
    background: $clrPrimary1;
    width: 7%;
    height: 11%;
    transform: translateY(-50%);
    color: $clrPrimary2;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    padding: 0.25em;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    i {
      display: block;
      width: 100%;
      height: 100%;
    }

    &.left {
      left: 24px;
      // transition: left 0.2s ease-in-out;
      svg {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 40%;
        height: 40%;
        fill: $clrPrimary2;
      }
    }

    &.right {
      right: 24px;
      // transition: right 0.2s ease-in-out;
      svg {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 40%;
        height: 40%;
        fill: $clrPrimary2;
      }
    }
  }

  .arrow:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  .arrow::before {
    content: '';
    position: absolute;
    top: -10px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    bottom: -10px; /* Adjust as needed */
    left: -10px; /* Adjust as needed */
  }

  .dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;

    .dot {
      border: none;
      margin: 0 2.5px;
      cursor: pointer;
      transition: 0.3s;
      font-size: 1em;
      &:after {
        content: '\25CF';
        color: #fff;
      }
    }

    .dot:hover {
      transform: translateY(-3px);
      transform: scale(1.2);
      &:after {
        color: #fff;
      }
    }

    .dot.active {
      transform: translateY(-3px);
      transform: scale(1.2);
      &:after {
        color: #fff;
      }
    }
  }
}

.gig-preview:hover .carousel-container,
.carousel-container:hover {
  .arrow {
    // background-color: #fff;
    opacity: 1;
    background: $clrPrimary1;
    transition: all 0.5s ease-in-out;

    &.right {
      right: 12px;
    }
    &.left {
      left: 12px;
    }
  }
}

// .gig-preview:hover .carousel-container,
// .carousel-container:hover {
//   .arrow-gig-details {
//     // background-color: #fff;
//     opacity: 1;
//     background: rgba(0, 0, 0, 0.2);
//     transition: all 0.5s ease-in-out;

//     &.right {
//       right: 12px;
//     }
//     &.left {
//       left: 12px;
//     }
//   }
// }

// .hovered {
//   .arrow {
//     // background-color: #fff;
//     opacity: 1;
//     background: rgba(0, 0, 0, 0.2);
//     transition: all 0.5s ease-in-out;

//     &.right {
//       right: 12px;
//     }
//     &.left {
//       left: 12px;
//     }
//   }
// }

// .gig-preview:hover .carousel-container,
// .carousel-container:hover {
//   @extend hovered !optional;
// }
