@keyframes bounce {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }

    5% {
        transform: translateX(5px) translateY(-3px) rotate(18deg);
    }

    10% {
        transform: translateX(10px) translateY(-8px) rotate(36deg);
    }

    15% {
        transform: translateX(15px) translateY(-15px) rotate(54deg);
    }

    20% {
        transform: translateX(20px) translateY(-20px) rotate(72deg);
    }

    25% {
        transform: translateX(25px) translateY(-22px) rotate(90deg);
    }

    30% {
        transform: translateX(30px) translateY(-25px) rotate(108deg);
    }

    35% {
        transform: translateX(35px) translateY(-20px) rotate(126deg);
    }

    40% {
        transform: translateX(40px) translateY(-15px) rotate(144deg);
    }

    45% {
        transform: translateX(45px) translateY(-10px) rotate(162deg);
    }

    50% {
        transform: translateX(50px) translateY(-5px) rotate(180deg);
    }

    55% {
        transform: translateX(45px) translateY(-10px) rotate(198deg);
    }

    60% {
        transform: translateX(40px) translateY(-15px) rotate(216deg);
    }

    65% {
        transform: translateX(35px) translateY(-20px) rotate(234deg);
    }

    70% {
        transform: translateX(30px) translateY(-25px) rotate(252deg);
    }

    75% {
        transform: translateX(25px) translateY(-22px) rotate(270deg);
    }

    80% {
        transform: translateX(20px) translateY(-20px) rotate(288deg);
    }

    85% {
        transform: translateX(15px) translateY(-15px) rotate(306deg);
    }

    90% {
        transform: translateX(10px) translateY(-8px) rotate(324deg);
    }

    95% {
        transform: translateX(5px) translateY(-3px) rotate(342deg);
    }

    100% {
        transform: translateX(0) translateY(0) rotate(360deg);
    }
}

.loader-wrapper {
    min-height: 77.9vh;

    .loader {
        align-items: center;
        height: 100%;
        justify-content: center;
        margin: auto;

        img {
            width: 48px;
            height: 48px;
            animation: bounce 2s cubic-bezier(0.32, 0, 0.67, 1) infinite;
            box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            margin-right: 25px;
            background: $bgColor5;
            text-align: center;
            color: $clrPrimary1;
        }
    }
}

.buyer-orders-list {
    .loader-wrapper {
        min-height: 150px;

        .loader {
            align-items: center;
            height: 150px;
            justify-content: center;

            img {
                width: 48px;
                height: 48px;
                animation: bounce 2s cubic-bezier(0.32, 0, 0.67, 1) infinite;
                box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.3);
            }
        }
    }
}