.payment-info {
  width: 41.66667%;
  padding: 0 0;
  max-width: 596.667px;
  color: $clrSecondary6;

  .payment {
    padding: 16px 16px;
    background-color: $clrPrimary1;
    border: 1px solid $clrSecondary2;
    margin: 0 auto;
    width: 377px;

    .payment-header {
      display: flex;
      height: 70px;
      margin-block-end: 20px;

      img {
        width: 110px;
        height: 70px;
        margin-inline-end: 1em;
        border-radius: 4px;
      }

      p {
        font-weight: bold;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .payment-price {
      display: flex;
      justify-content: space-between;
      padding-block-start: 20px;
      border-block-start: 1px solid $clrSecondary2;

      p {
        font-weight: 600;
      }
    }

    .gig-qualities {
      display: flex;
      flex-direction: column;

      .gig-quality {
        display: flex;
        align-items: center;

        img {
          width: 14px;
          margin-inline-end: 9px;
        }
      }
    }

    .paying-fee {
      display: flex;
      justify-content: space-between;
      margin-block-end: 16px;
      height: 30px;

      span {
        display: flex;
        align-items: center;
      }

      img {
        height: 16px;
        width: 16px;
        margin-inline-start: 8px;
      }
    }

    .final {
      border-top: 1px solid $clrSecondary2;
      padding-block-start: 20px;
      font-weight: 700;
    }

    .not {
      color: $clrSecondary6;
    }

    .confirm-btn {
      background-color: $clrPrimary3;
      color: $clrPrimary1;
      width: 100%;
      height: 42px;
      font-family: "macan-bold";
      font-size: 16px;
      line-height: 100%;
      border-radius: 5px;

      &:hover {
        background-color: $clrSecondary8;
      }
    }
  }

  .one {
    background-color: $clrSecondary0;
    border-block-end: 0;
    border-radius: 4px 4px 0 0;
  }

  .two {
    border-radius: 0 0 4px 4px;
  }
}