.payment-info {
    width: 41.66667%;
    padding: 0 16px;
    max-width: 596.667px;

    .payment {
        background-color: $clrPrimary1;
        border: 1px solid $clrSecondary5;
        padding: 16px 24px;
        margin: 0 auto;
        width: 377px;
        border-radius: 5px;

        .payment-header {
            display: flex;
            height: 70px;
            margin-block-end: 20px;

            img {
                width: 70px;
            }
        }

        .payment-price {
            color: $clrSecondary6;
        }

        .gig-qualities {
            display: flex;
            flex-direction: column;
            margin-block-end: 20px;
            color: $clrSecondary6;

            .gig-quality {
                display: flex;

                img {
                    width: 14px;
                    margin-inline-end: 5px;
                }
            }
        }

        .paying-fee {
            display: flex;
            justify-content: space-between;
            margin-block-end: 25px;
        }

        .final {
            border-top: 1px solid $clrPrimary2;
            font-weight: 700;
        }

        .not {
            color: $clrSecondary6;
        }

        .confirm-btn {
            background-color: $clrPrimary3;
            color: $clrPrimary1;
            width: 100%;
            height: 42px;
            font-family: 'macan-bold';
            font-size: 16px;
            line-height: 100%;
            border-radius: 5px;

            &:hover {
                background-color: $clrSecondary8;
            }
        }
    }
}