.payment-details {
  width: 58.33333%;
  max-width: 833.555px;
  padding: 0 16px;
  color: $clrPrimary2;
  
  input {
    background-color: none;
  }
  
  .details {
    padding: 16px;
    background-color: $clrSecondary0;
    border: 1px solid $clrSecondary5;
    // border-radius: 5px;

    .credit-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;

      span {
        font-weight: 700;
      }
    }

    .credit-type {
      display: flex;
      align-items: center;
      height: 25px;

      input{
        margin: 0;
      }

      span{
        margin-inline-start: 16px;
      }

      img {
        width: 80px;
      }
    }

    .credit-number {
      display: flex;
      flex-direction: column;
      margin-inline-start: 20px;
      width: 95.5%;

      input {
        width: 100%;
      }
    }

    .credit-date {
      display: flex;
      flex-direction: column;

      input {
        width: 80%;
      }
    }
  }

  .private{
    display: flex;
    // justify-content: space-between;
    .credit-date {
      display: flex;
      flex-direction: column;
      margin-inline-start: 20px;
      input {
        width: 100%;
        // border: 1px solid $clrSecondary5;
      }
      
    }
    .buyer-info {
      display: flex;
      flex-direction: column;
      margin-inline-start: 20px;
      input {
        width: 100%;
        // border: 1px solid $clrSecondary5;
      }
    }
  }

  .one{
    border-block-end: 0;
  }
  .two{
    background-color: $clrPrimary1;
    border-block-start: 0;
    border-block-end: 0;
  }
  .three{
    border-block-start: 0;
  }
}
