.purchase-main {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  padding: 0 16px;
  color: $clrPrimary2;

  @media only screen and (min-width: 900px) {
    margin-top: 16px;
  }

  input[type='text'] {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #c5c6c9;
    border-radius: 0.25em;
    flex-basis: 100%;
    align-items: center;
    height: 2.625em;
    margin-top: 0.625em;
  }
  .payment-methods {
    // display: flex;
    // align-items: center;
    flex-wrap: wrap;
    height: 64;
    vertical-align: center;
    padding-left: 16px;
  }

  .details {
    padding: 16px;
    background-color: $clrSecondary0;
    border: 1px solid $clrSecondary2;

    .selected {
      .radio-btn {
        border-color: #222325;
        border-width: 5px;
      }
    }
    .radio-btn {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      align-self: flex-start;
      margin-top: 1px;
      border: 1px solid #dadbdd;
      border-radius: 50%;
      margin-right: 8px;
      cursor: pointer;
      user-select: none;
    }

    .credit-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;

      span {
        font-weight: 700;
      }
    }

    .credit-type {
      display: inline-flex;
      align-items: center;
      height: 25px;

      &:hover .radio-btn {
        border-color: #222325;
      }

      .text {
        margin-inline-end: 16px;
      }

      img {
        width: 80px;
      }
    }

    .credit-number {
      display: flex;
      flex-direction: column;
      margin-inline-start: 1.25em;
      width: 95.5%;

      input {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        border: 1px solid clrSecondary45;
        border-radius: 0.25em;
        flex-basis: 100%;
        align-items: center;
        height: 2.625em;
        margin-top: 0.625em;
      }
    }

    .credit-date {
      display: flex;
      flex-direction: column;

      input {
        width: 80%;
      }
    }
  }

  .private {
    display: flex;

    .credit-date {
      display: flex;
      flex-direction: column;
      margin-inline-start: 20px;
      width: 50%;

      input {
        width: 100%;
      }
    }

    .buyer-info {
      display: flex;
      flex-direction: column;
      margin-inline-start: 20px;
      width: 50%;

      input {
        width: 100%;
      }
    }
  }

  .section-header {
    border-block-end: 0;
    border-radius: 4px 4px 0 0;
  }

  .credit-card {
    background-color: $clrPrimary1;
    border-block-start: 1px solid $clrSecondary2;
    border-block-end: 1px solid $clrSecondary2;
  }

  .credit-info {
    border-block-start: 0;
    border-block-end: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);

    input {
      margin-block-end: 16px;
    }
  }

  .paypal {
    background-color: $clrPrimary1;
    border-radius: 0 0 4px 4px;
    border-block-start: 1px solid $clrSecondary2;
    border-block-end: 1px solid $clrSecondary2;

    i {
      margin-inline-end: 16px;
    }
  }
}
