.purchase-aside-wrapper {
  padding: 0 1em;
  width: 41.66667%;
  padding: 0 0;
  max-width: 596.667px;
  color: $clrSecondary6;
}
.purchase-aside {
  // padding: 16px 16px;
  background-color: $clrPrimary1;
  // border: 1px solid $clrSecondary2;
  margin: 0 auto;
  width: 377px;

  .payment-header {
    display: flex;
    height: 70px;
    margin-block-end: 20px;

    img {
      width: 110px;
      height: 70px;
      margin-inline-end: 1em;
      border-radius: 4px;
    }

    p {
      font-weight: bold;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .features {
      list-style: none;
      padding: 0;
      color: $clrSecondary6;
      font-size: rem(14px);
      margin-block-end: rem(20px);

      li {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          margin-inline-end: 16px;
        }
      }
    }
    .features {
      list-style: none;
      padding: 0;
      color: $clrSecondary6;
      font-size: rem(14px);
      margin-block-end: rem(20px);

      li {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          margin-inline-end: 16px;
        }
      }
    }

    .order-details-general {
      display: flex;
      justify-content: space-between;
      padding-block-start: 20px;
      border-block-start: 1px solid $clrSecondary2;
      padding: 16px 0;
      font-weight: 500;
      background-color: transparent;
      margin-bottom: 0;
      text-align: left;
      border: none;

      p {
        font-weight: 600;
      }
    }

    .gig-qualities {
      display: flex;
      flex-direction: column;

      .gig-quality {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 14px;
          margin-inline-end: 9px;
        }
      }
    }

    .service-fee {
      display: flex;
      justify-content: space-between;
      // margin-block-end: 16px;
      height: 30px;

      span {
        display: flex;
        align-items: center;
        // gap: 10px;
      }

      img {
        height: 16px;
        width: 16px;
        margin-inline-start: 8px;
      }
    }
    .vat-fee {
      display: flex;
      justify-content: space-between;
      margin-block-end: 16px;
      height: 30px;

      span {
        display: flex;
        align-items: center;
        // gap: 10px;
      }

      img {
        height: 16px;
        width: 16px;
        margin-inline-start: 8px;
      }
    }

    .total-fee {
      display: flex;
      justify-content: space-between;
      // border-top: 1px solid $clrSecondary2;
      font-size: rem(18px);
      padding-block-start: 20px;
      font-weight: 700;
      padding: rem(6px) 0;
    }

    .not {
      color: $clrSecondary6;
    }

  }
  .confirm-btn {
    background-color: $clrPrimary3;
    color: $clrPrimary1;
    width: 100%;
    height: 2.625em;
    font-family: 'macan-bold';
    font-size: 1em;
    line-height: 100%;
    border-radius: rem(5px);

    &:hover {
      background-color: $clrSecondary8;
    }
  }

  .delivery-time {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
  }

  .secure-payment {
    font-size: rem(14px);
    line-height: rem(22px);
    color: $clrSecondary6;
    text-align: center;
    margin-top: 0.5em;
  }
}
