.review-breakdown {
  color: $clrSecondary8;
  margin-block-start: 1em;
  .review-count {
    display: flex;
    gap: 0.75em;
    font-weight: 700;
    .stars {
      display: flex;
      align-items: center;
      svg {
        margin-inline-end: 0.25em;
        fill: $clrSecondary8;
      }
    }
  }
  .breakdown-wrapper {
    margin-block-start: 0.75em;
    margin-block-end: 1.5em;
    padding: 0 0.5em;
    color: $clrPrimary2;
    .star-counts {
      width: 50%;

      .stat-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2em;

        &.no-count {
          color: $clrSecondary10;
        }

        .rate-level {
          display: flex;
          padding: 0.5em;
          font-weight: bold;
          &:hover {
            background-color: $clrSecondary10;
          }
        }

        .counter {
          width: 60%;
          height: 0.5em;
          background-color: $clrSecondary10;
          border-radius: 999px;
          .counter-meter {
            display: block;
            width: 50%;
            height: 100%;
            border-radius: 999px;
            background-color: $clrPrimary2;
          }
        }
        &.no-count .counter-meter {
          background-color: $clrSecondary10;
          opacity: 0.7;
        }

        .rate-count{
            margin-inline-start: 0.625em;
            font-weight: 400;
        }
      }
    }
  }
}
