.home-wrapper {
  .home-services-section {
    position: relative;
    overflow: visible;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 4.5em;

    h2 {
      font-size: 32px;
      line-height: 120%;
      color: $clrSecondary7;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 20px;
    }

    .services-carousel-wrapper {
      overflow: hidden;

      .services {
        display: flex;
        flex-direction: row;
        margin: 0 -18px;
        transition: transform 1.2s ease-in-out;

        .service {
          border-radius: 0.25em;
          padding: 0em;
          height: 345px;
          cursor: pointer;
          flex: 0 0 auto;
          padding: 0 9px;

          svg {
            border-radius: 0.25em;
          }

          .service-text {
            position: relative;
            bottom: 100%;
            left: 6px;
            color: $clrPrimary1;
            font-size: 24px;
            padding: 0px 10px;
            line-height: 30px;
            font-size: 24px;
            line-height: 130%;

            span {
              font-size: 14px;
              font-weight: 100;
            }
            .subtitle{
              font-size: 24px;
              font-weight: 700;
            }
          }

          & img:hover {
            opacity: 0.85;
            transition: opacity 0.3s ease-in-out;
          }
        }
      }
    }

    .carousel-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      background: $clrPrimary1;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      z-index: 5;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

      img {
        width: 35%;
        height: 35%;
      }
    }
  }
}