.modal-wrapper {
    .share-gig-modal {
        border-radius: 0.5em;
        max-width: 620px;
        background-color: $clrPrimary1;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        padding: 0.75em;

        h2 {
            font-size: 24px;
            padding: 10px 0;
            color: $clrSecondary6;
            line-height: 120%;
            font-weight: 700;
        }

        p {
            color: $clrSecondary11;
            font-size: 15px;
            line-height: 150%;
        }

        ul {
            justify-content: center;
            gap: 1.4em;
            padding-top: 1em;

            li {
                cursor: pointer;

                i {
                    width: 56px;
                    height: 56px;
                    align-self: center;
                }

                span {
                    color: $clrSecondary6;
                    font-size: 15px;
                    padding-top: 1em;
                    text-align: center;
                }

                &:hover {
                    text-decoration: underline $clrSecondary6;
                }
            }
        }
    }
}