.smiley-choice {
  position: absolute;
  bottom: 1.5em;
  left: 0em;
  z-index: 40;
  display: none;
  background-color: $clrPrimary1;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5em;

  max-height: 200px;
  overflow-y: scroll;
  @media (min-width: 601px){
    &:not(:hover) {
      opacity: 0.3;
    }
  }
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  li {
    text-align: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.smiley-choice {
  font-size: 20px; /* Adjust size as needed */
}
