.typing-loader {
  display: flex;
  gap: .5em;

  .dot {
    transform: translate(-50%, -50%);
    width: 0.75em;
    height: 0.75em;
    background-color: $clrSecondary45;
    border-radius: 50%;
    animation: typing 2s infinite alternate;

    &:nth-of-type(1) {
      animation-delay: 0ms;
    }

    &:nth-of-type(2) {
      animation-delay: 500ms;

    }

    &:nth-of-type(3) {
      animation-delay: 1000ms;

    }
  }

  @keyframes typing {
    0% {
      transform: translateY(0px);
      background-color: $clrPrimary2;
    }

    33% {
      transform: translateY(5px);
    }

    66% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}