.user-orders {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #e0e0e0;
    }

    th,
    td {
        padding: 1em;
        text-align: center;
        border: 1px solid #e0e0e0;

        &:not(:last-child),
        &:not(:first-child) {
            border-right: none;
            border-left: none;
        }
    }

    thead tr {
        background-color: #f5f5f5;
    }

    th {
        font-weight: bold;
    }

    td {
        color: #333;
    }

    span {
        padding: 0.5em 1em;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        width: 100%;
        display: block;
        box-shadow: 0px 0px 2px 2px #bbb2b2;

        &.pending {
            background: $clr5;
        }

        &.denied {
            background: $clr4;
        }

        &.accepted {
            background: $clr6;
            color: black;
        }

        &.completed {
            background: $clr3;
        }
    }
}