.user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $clrSecondary5;
    position: absolute;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
    background-color: $clrPrimary2;
}

.user-msg.success {
    background-color: $clr3;
}

.user-msg.error {
    background-color: $clr4;
}