.user-info {
    position: relative;
    color: $clrPrimary2;

    .info-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        height: 360px;
        padding: 30px;
        background-color: $clrPrimary1;
        border: 1px solid $clrSecondary2;
        margin-block-end: 20px;

        &:last-child {
            justify-content: start;
        }

        img {
            width: 150px;
            height: 150px;
        }

        h2 {
            text-align: center;
            width: 100%;
            border-bottom: 1px solid $clrSecondary2;
            text-transform: capitalize;
        }

        .into-line {
            display: flex;
            justify-content: space-between;
            width: 100%;

            span {
                img {
                    height: 16px;
                    width: 14px;
                }
            }
        }
    }

}