.user-gigs {
  align-items: center;
  margin-block-end: 20px;
  height: 100%;
  width: 100%;
  gap: 1em;
  padding-inline-start: 1.25em;
  color: $clrPrimary2;

  .the-gigs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    height: 100%;

    @media screen and (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px;
    }

  }

  .title {
    align-self: start;
    font-weight: bold;
    font-size: 1.25em;
    color: $clrSecondary8;
  }

  .info-block {
    border: 1px solid $clrSecondary14;
    background-color: $clrPrimary1;


    &.gig {
      justify-content: center;
      align-items: center;
      // margin-top: -2.5em;

      .gig-creation-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $clrPrimary2;
        padding-block-start: 95px;
        padding-block-end: 120px;
        font-weight: 600;

        &:hover {
          text-decoration: none;
        }

        button {
          height: 65px;
          width: 65px;
          border-radius: 50%;
          font-size: 36px;
          padding: 0;
          background-color: $clr2;
        }

        .seller-img{
          width: 250px;
        }

        .ready{
          margin: 1.5em 0;
          color: $clrSecondary8;
        }

        .become-seller{
          text-align: center;
          line-height: 1.5em;
          padding: 9px 1.5em;
          color: $clrPrimary1;
          background-color: $bgColor3;
          border-radius: 3px;
          margin-block-end: 0.5em;
        }
      }
    }

    &.seller {
      width: 100%;
    }
  }
}