.home-wrapper {
    .welcome-wrapper {
        height: 760px;
        width: 100%;
        color: $clrPrimary1;
        position: relative;
        background-color: $bgColor1;

        .person-info {
            position: absolute;
            bottom: 35px;
            right: 35px;
            display: flex;
            align-items: center;
            z-index: 3;
            box-shadow: 0 20px 30px 0 rgba(0, 37, 19, .2);
            background: #ffffff24;
            border-radius: 100px;
            width: fit-content;
            padding: 0.5em 0.8em;
            border: 1px solid #ffffff66;
            backdrop-filter: blur(30px);
            transition: opacity 1s;

            .small-img {
                width: 20%;
                transition: opacity 1s;
                margin-right: 0.3em;
            }

            .text-content {
                padding: 0em 0.5em;
                white-space: nowrap;

                .title,
                .subtitle {
                    font-family: 'macan-bold';
                }

                .title {
                    font-size: 12px;
                    line-height: 12px;
                }

                .subtitle {
                    font-size: 16px;
                }
            }
        }

        .welcome-section {
            width: 100%;
            max-width: 1650px;
            height: 100%;
            margin: auto;
            position: relative;
            overflow: hidden;

            .background-content {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: cover;
                background-position: right;
                transition: opacity 1s;
                z-index: 1;
            }

            .welcome-text-search {
                width: 650px;
                height: fit-content;
                position: absolute;
                z-index: 3;
                top: 35%;
                font-size: 40px;

                h1 {
                    font-family: "macan-bold";
                    line-height: 48px;
                    font-weight: 100;
                    font-size: 40px;
                    max-width: 500px;
                    margin-bottom: 0.5em;

                    span {
                        font-family: 'domain-display-medium';
                        font-weight: 500;
                    }
                }

                div {
                    align-items: center;
                    gap: 0.3em;
                    width: fit-content;

                    a,
                    h4 {
                        font-size: 14px;
                        font-family: 'macan-bold';
                        margin: 0;

                        &:first-child {
                            font-weight: 500;
                        }

                        &:not(:first-child) {
                            color: $clrPrimary1;
                            border: 1px solid;
                            border-radius: 50px;
                            padding: 0.1rem 0.7rem;

                            &:hover {
                                text-decoration: none;
                                background: $clrPrimary1;
                                color: $clrSecondary8;
                                border: 1px solid $clrPrimary1;
                            }
                        }
                    }
                }
            }
        }
    }
}