.home-wrapper {
    .welcome-section {
        height: 760px;
        color: $clrPrimary1;
        position: relative;
        background-color: $bgColor1;

        // &.person-1 {
        //     background: url(../../../../img/jenny.webp) no-repeat center center;
        // }

        // &.person-2 {
        //     background: url(../../../../img/colin.webp) no-repeat center center;
        //     background-color: $bgColor1;
        // }

        // &.person-3 {
        //     background: url(../../../../img/scarlett.webp) no-repeat center center;
        //     background-color: $bgColor1;
        // }

        // &.person-4 {
        //     background: url(../../../../img/jordan.webp) no-repeat center center;
        //     background-color: $bgColor1;
        // }

        // &.person-5 {
        //     background: url(../../../../img/christina.webp) no-repeat center center;
        //     background-color: $bgColor1;
        // }

        background-size: cover;

        .person-info {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            z-index: 3;
            box-shadow: 0 20px 30px 0 rgba(0, 37, 19, .2);
            background: #ffffff24;
            border-radius: 100px;
            width: fit-content;
            padding: 0.5em 1em;
            border: 1px solid #ffffff66;
            
            .small-img {
                width: 20%;
                transition: opacity 1s;
            }

            .text-content {
                width: 80%;
                padding-left: 10px;

                .title,
                .subtitle {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }

                .title {
                    font-size: 12px;
                }

                .subtitle {
                    font-size: 16px;
                }
            }
        }

        .welcome-text-search {
            width: 650px;
            height: fit-content;
            position: absolute;
            z-index: 3;
            top: 50%;
            font-size: 40px;
            margin-left: 0.65em;

            h1 {
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}