.home-wrapper {
    .welcome-wrapper {
        height: 760px;
        width: 100%;
        color: $clrPrimary1;
        position: relative;
        background-color: $bgColor1;

        .person-info {
            position: absolute;
            bottom: 30px;
            right: 30px;
            display: flex;
            align-items: center;
            z-index: 3;
            box-shadow: 0 20px 30px 0 rgba(0, 37, 19, .2);
            background: #ffffff24;
            border-radius: 100px;
            width: fit-content;
            padding: 0.5em 1em;
            border: 1px solid #ffffff66;
            backdrop-filter: blur(30px);

            .small-img {
                width: 20%;
                transition: opacity 1s;
            }

            .text-content {
                width: 80%;
                padding: 0em 0.5em;
                white-space: nowrap;

                .title,
                .subtitle {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                }

                .title {
                    font-size: 12px;
                }

                .subtitle {
                    font-size: 16px;
                }
            }
        }

        .welcome-section {
            width: 100%;
            max-width: 1400px;
            height: 100%;
            background-size: cover;
            background-position: center;
            margin: auto;
            padding: 1em;

            .welcome-text-search {
                width: 650px;
                height: fit-content;
                position: absolute;
                z-index: 3;
                top: 50%;
                font-size: 40px;

                h1 {
                    font-family: Arial, Helvetica, sans-serif;

                    span {
                        font-style: italic;
                        font-family: 'domain-display-medium';
                        font-weight: 400;
                    }
                }

                .search-bar {
                    width: 100%;
                    margin-bottom: 0.5em;

                    input[type="text"] {
                        width: 90%;
                        padding: 1em;
                        border-radius: 5px 0px 0px 5px;
                        border: 1px solid $clrPrimary2;
                    }

                    button {
                        margin: 0;
                        padding: 1em 1.5em;
                        border-radius: 0px 5px 5px 0px;
                        border: 1px solid $bgColor3;
                        border-left: none;
                        background: $bgColor3;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                div {
                    align-items: center;
                    gap: 0.3em;
                    width: fit-content;

                    a,
                    h4 {
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        margin: 0;

                        &:not(:first-child) {
                            color: $clrPrimary1;
                            border: 1px solid;
                            border-radius: 50px;
                            padding: 0.1rem 0.7rem;

                            &:hover {
                                text-decoration: none;
                                background: $clrPrimary1;
                                color: $clrSecondary8;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}