.gig-order{
    position: sticky;
    top:20px;
    width:45%;
    height: 520px;
    padding: 24px;
    border: 1px solid black;
    .title{
        display: flex;
        justify-content: space-between;
    }   
    img{
        width:13px;
    }
    .shipping-info{
        display: flex;
        justify-content: space-between;
        .inside-shipping{
            display: flex;
            span{
                margin-inline-start: 8px;
            }
        }
    }
    ul{
        list-style: none;
        padding: 0;
        img{
            margin-inline-end: 12px;
        }
    }
    .continue{
        display: flex;
        justify-content: center;
        button{
            background-color: #19a463;
            color: white;
            border: 1px solid #19a463;
        }
    }
}