.chats-page {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.desktop {
    position: relative;
    z-index: 0;
    gap: 0.5em;
    grid-template-columns: 1fr 2fr 1fr;

    .chats-nav {
      grid-column: 1 / 2;
    }

    .unselected-chat {
      grid-column: 2 / -1;
    }

    .chat-box-wrapper {
      grid-column: 2 / 3;
    }

    .user-info {
      grid-column: 3 / -1;
      color: $clrSecondary6;

      .info-block {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding: 0.5em;
        background-color: $clrPrimary1;

        .profile-picture {
          position: relative;
          height: 150px;
          width: 150px;

          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
          }

          i {
            position: absolute;
            bottom: 0px;
            left: 96px;
          }

          svg {
            position: relative;
            width: 54px;
            height: 54px;
          }

          .background {
            display: none;

            svg {
              position: relative;
            }
          }
        }

        .stars {
          align-items: baseline;
          margin-block-end: 1.25em;

          .rating {
            padding: 0 0.25em;
            font-weight: 700;
          }

          .review-count {
            color: $clrSecondary11;
          }
        }

        h2 {
          text-align: center;
          width: 100%;
          text-transform: capitalize;
          color: $clrPrimary2;
          font-weight: 700;
        }

        .username {
          text-align: center;
          width: 100%;
          margin-block-end: 1.25em;
        }

        .location-and-time {
          width: 100%;
          padding-block-start: 1.25em;
          border-top: 1px solid $clrSecondary2;

          .info-line {
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-block-end: 1em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.25em;

            .data {
              align-items: center;

              span {
                font-weight: 100;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
              }

              svg {
                margin-inline-end: em(12px);
              }
            }

            .bold {
              font-weight: bold;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              justify-self: end;
            }
          }
        }

        &:last-child {
          display: none;
        }
      }
    }
  }

  &.tablet {
    position: relative;
    z-index: 0;
    gap: 0.5em;
    grid-template-columns: 1fr 2fr;

    .chats-nav {
      grid-column: 1 / 2;
    }

    .unselected-chat {
      grid-column: 2 / -1;
    }

    .chat-box-wrapper {
      grid-column: 2 / -1;
    }
  }

  .chats-nav {
    .chat-header {
      width: 100%;
      padding: 1em 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $clrPrimary1;
      color: $clrPrimary2;
      font-weight: 700;

      span {
        font-size: 1.25em;
      }

      i {
        align-self: center;

        svg {
          width: 1em;
          height: 1em;
        }
      }
    }

    .chat-body {
      height: 74vh;
      width: 100%;

      .chat-container {
        width: 100%;
        padding: 1em;
        background-color: $clrSecondary1;
        align-items: center;
        cursor: pointer;

        &:not(:last-child) {
          border-bottom: 1px solid $clrSecondary4;
        }

        &:last-child {
          margin: 0;
        }

        .userImg {
          position: relative;

          img {
            width: 3em;
            height: 3em;
            min-width: 3em;
            border-radius: 50%;
            margin-inline-end: 0.75em;
            object-fit: cover;
            background: $clrSecondary6;
          }

          &.notification::after {
            content: '';
            position: absolute;
            bottom: 10px;
            right: 15px;
            width: 12px;
            height: 12px;
            background-color: $clr9;
            border-radius: 50%;
            animation: grow 0.7s infinite alternate;
            z-index: 200;

            @keyframes grow {
              to {
                scale: 1.2 1.2;
              }
            }
          }
        }

        .chat-info {
          width: 100%;

          .user-info {
            width: 100%;
            justify-content: space-between;
            align-items: baseline;
            max-height: 26px;

            .name-wrapper {
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;

              .name {
                font-family: 'macan-bold';
                color: $clrPrimary2;
              }

              .username {
                margin-inline-start: 0.75em;
                font-size: 0.85em;
                color: $clrSecondary7;
              }
            }

            .time {
              font-size: 0.85em;
              color: $clrSecondary7;
              min-width: 48px;
              text-align: right;
            }
          }

          .bottom-chat-line {
            grid-template-columns: auto 16px;
            gap: 0.5em;

            .latest-message {
              color: $clrSecondary5;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 250px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }

            .erase-chat {
              i {
                align-self: center;

                svg {
                  height: 1em;
                  width: 1em;
                  fill: $clrSecondary7;
                  transition: all 0.3s;

                  &:hover {
                    fill: $bgColor6;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .unselected-chat {
    justify-content: center;
    align-items: center;
    border: 1px solid $clrSecondary3;
    border-radius: 1.5em;

    .info-message {
      justify-content: center;
      align-items: center;
      color: $clrSecondary8;

      img {
        height: 200px;
      }

      .title {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 32px;
        margin-block-start: 32px;
        margin-block-end: 10px;
      }

      .subtitle {
        width: 21em;
        text-align: center;
      }
    }
  }
}