.gig-details {
  max-width: 1304px;
  color: $clrPrimary2;

  main {
    background-color: $clrPrimary1;
    height: fit-content;

    .explore-category {
      align-items: center;
      font-size: 14px;
      padding-top: 12px;
      margin-block-end: 30px;
      color: $clrPrimary2;

      .divider {
        margin: 0 5px;
        color: $clrSecondary45;
      }
    }

    .gig-details-header {
      width: 100%;

      .gig-overview {
        h2 {
          overflow-wrap: break-word;
          color: $clrSecondary8;
          font-size: 1.75em;
        }
      }

      .gig-thumbnail {
        width: fit-content;

        img {
          object-fit: cover;
          aspect-ratio: 5/3;
          width: 20%;
          opacity: 0.6;
          padding: 1% 1% 1% 0;
          cursor: pointer;

          &:last-child {
            padding-inline-end: 0;
          }
        }
      }
    }

    .about-gig {
      h3 {
        font-weight: 700;
      }

      .gig-description {
        margin: 1em 0;
      }
    }
  }
}

.mini-message-bar {
  bottom: 3.5em;
  display: inline-block;
  position: sticky;
  z-index: 5;
  width: fit-content;

  .mini-message-bar-container {
    grid-auto-flow: column;
    align-items: center;
    position: relative;
    background-color: $clrPrimary1;
    border-radius: 4.25em;
    cursor: pointer;
    padding: 0.5em 1.5em 0.5em 0.5em;
    width: fit-content;
    box-shadow: 0 0 2.17382px rgba(0, 0, 0, 0.049),
      0 1.75px 6.01034px rgba(0, 0, 0, 0.07),
      0 3.63px 14.4706px rgba(0, 0, 0, 0.091), 0 22px 48px rgba(0, 0, 0, 0.14);

    .avatar {
      background-color: $clrSecondary4;
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;

      img {
        border-radius: 50%;
        object-fit: cover;
      }

      .status-dot {
        position: absolute;
        bottom: em(-2px);
        right: em(-2px);
        border-width: em(2px);
        width: 0.65em;
        height: 0.65em;
        background-color: $bgColor3;
        border-color: $clrPrimary1;
        border-radius: 50%;
        border-style: solid;
      }
    }

    .owner-info {
      justify-content: space-between;
      padding-inline-start: em(16px);

      .message {
        font-weight: 600;
        color: $clrSecondary8;
      }

      .response-time {
        font-size: 0.75em;
        color: $clrSecondary6;

        .dot {
          align-self: center;
          border-radius: 50%;
          height: em(3px);
          margin: 0 0.5em;
          width: em(3px);
          background-color: $clrSecondary6;
        }
      }
    }
  }
}