.dashboard-page {
    width: 100%;
    max-width: 1400px;
    text-align: center;
    justify-content: center;

    .dashboard-container-header {
        margin-bottom: 1.5rem;

        h1 {
            margin: 0;
            margin-bottom: 0.5rem;
            font-size: 2rem;
        }

        h2 {
            margin: 0;
            font-size: 1.5rem;
        }
    }

    .chart-section {
        padding: 0.5em;
        background: $clrPrimary1;
        color: $clrSecondary8;
        opacity: 0.95;
        height: fit-content;
        border: 2px solid $clrSecondary8;

        &:not(:last-child) {
            border-bottom: none;
        }

        h6 {
            border-bottom: 2px solid;
            width: fit-content;
            margin: auto;
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 1.5em
        }
    }

    .dashboard-gigs-container {
        @include container-styles;
    }

    .dashboard-users-container {
        @include container-styles;
    }

    .dashboard-finances-container {
        @include container-styles;
    }
}