.dashboard-page {
    width: 100%;
    max-width: 1400px;
    text-align: center;
    justify-content: center;
    margin: auto;

    .dashboard-container-header {
        margin-bottom: 1.5rem;

        h1 {
            margin: 0;
            margin-bottom: 0.5rem;
            font-size: 2rem;
        }

        h2 {
            margin: 0;
            font-size: 1.5rem;
        }
    }

    .chart-section {
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 25px;
        background: $clrPrimary1;
        color: $clrSecondary8;
        opacity: 0.95;
        height: fit-content;
        border: 2px solid $clrSecondary8;

        h6 {
            border-bottom: 2px solid;
            width: fit-content;
            margin: auto;
            margin-bottom: 1rem;
            font-weight: bold;
        }
    }

    .dashboard-finances-container {
        .finance-info {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 10px;

            .grid-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 2px solid $clrSecondary8;
                padding: 10px;
                border-radius: 5px;

                .title {
                    font-weight: bold;
                    border-bottom: 1px solid $clrSecondary8;
                    padding-bottom: 2px;
                }

                .info {
                    margin-top: 1em;
                }
            }
        }

        .finance-charts {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
    }

    .dashboard-gigs-container {
        .gigs-info {
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            margin-bottom: 1em;

            .grid-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 2px solid $clrSecondary8;
                padding: 10px;
                border-radius: 5px;

                .title {
                    font-weight: bold;
                    border-bottom: 1px solid $clrSecondary8;
                    padding-bottom: 2px;
                }

                .info {
                    margin-top: 1em;
                }
            }
        }

        .gigs-charts {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
}