.dashboard-page {
    width: 100%;
    max-width: 1400px;
    text-align: center;
    justify-content: center;
    background: $clrSecondary12;

    .user-orders {
        width: 100%;
        box-sizing: border-box;
        font-family: 'macan-regular';

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid $clrSecondary4;
        }

        th,
        td {
            padding: 1em;
            text-align: center;
            border: 1px solid $clrSecondary4;
            background: $clrPrimary1;

            &:not(:last-child),
            &:not(:first-child) {
                border-right: none;
                border-left: none;
            }
        }

        th {
            font-weight: bold;
        }

        td {
            color: $clrPrimary4;

            button {
                width: 60%;
                margin: auto;
                background: none;

                i {
                    width: 100%;
                }
            }
        }

        span {
            padding: 0.95em 0.8em;
            border-radius: 5px;
            display: block;
            border: 1px solid $clrSecondary6;
            font-size: 12px;
            font-family: "macan-bold";
            text-transform: uppercase;
            letter-spacing: 1px;

            &.pending {
                background: rgb(105, 189, 218);
                color: $clrPrimary1;
            }

            &.denied {
                background: rgb(224, 90, 90);
                color: $clrPrimary1;
            }

            &.accepted {
                background: rgb(201, 243, 49);
                color: $clrSecondary6;
            }

            &.completed {
                background: rgb(87, 190, 87);
                color: $clrPrimary1;
            }
        }

        .dropdown-menu {
            position: absolute;
            z-index: 1;
            min-width: 50px;
            background: $clrPrimary1;
            border: 1px solid $clrPrimary2;
            border-radius: 5px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            margin-top: 10px;

            button {
                background: none;
                width: 100%;
                text-align: left;
                padding: 10px 15px;
                font-size: 16px;
                font-family: 'macan-bold';
                transition: background-color 0.2s;

                &:hover {
                    background-color: $clrSecondary1;
                    border-radius: 5px;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $clrPrimary2;
                }
            }
        }
    }
}