.dashboard-page {
    width: 100%;
    padding: 2em;
    max-width: 1400px;
    text-align: center;
    justify-content: center;
    margin: auto;

    .dashboard-container-header {
        margin-bottom: 1.5rem;

        h1 {
            margin: 0;
            margin-bottom: 0.5rem;
            font-size: 2rem;
        }

        h2 {
            margin: 0;
            font-size: 1.5rem;
        }
    }

    .chart-section {
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 25px;
        background: $clrPrimary1;
        color: $clrSecondary8;
        opacity: 0.95;
        height: fit-content;
        border: 2px solid $clrSecondary8;

        &:last-child {
            margin-bottom: 0;
        }

        h6 {
            border-bottom: 2px solid;
            width: fit-content;
            margin: auto;
            margin-bottom: 1rem;
            font-weight: bold;
        }
    }
}