.gig-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  max-width: 1304px;
  color: $clrPrimary2;

  .gig-details-main {
    grid-column: 1/2;
    max-width: 712px;
    background-color: $clrPrimary1;

    .explore-category {
      align-items: center;
      font-size: 14px;
      padding-top: 12px;
      margin-block-end: 30px;
      color: $clrPrimary2;

      Link {
        padding: rem(9px);
      }

      .divider {
        margin: 0 5px;
        color: $clrSecondary45;
      }
    }
  }
}