.gig-details {
  grid-template-columns: 60% 5% 35%;
  width: 100%;
  max-width: 1304px;
  color: $clrPrimary2;
  padding: 32px 0px 24px 0px;

  main {
    grid-column: 1/2;
    max-width: 712px;
    background-color: $clrPrimary1;

    .explore-category {
      align-items: center;
      font-size: 14px;
      padding-top: 12px;
      margin-block-end: 30px;
      color: $clrPrimary2;

      .divider {
        margin: 0 5px;
        color: $clrSecondary45;
      }
    }

    .gig-details-header {
      margin-block-end: 30px;

      .gig-overview {
        margin-block-end: 1.5em;

        .gig-title {
          overflow-wrap: break-word;
          padding-bottom: 16px;
          color: $clrSecondary8;
          font-size: 1.75em;
        }
      }

      p {
        margin: 0;
      }

      .gig-thumbnail {
        width: fit-content;

        img {
          object-fit: cover;
          aspect-ratio: 5/3;
          width: 20%;
          opacity: 0.6;
          padding: 1% 1% 1% 0;

          &:last-child {
            padding-inline-end: 0;
          }
        }
      }
    }
  }
}