.profile-page {
    background-color: $clrSecondary12;
    padding: 3.125em 0 2.5em;
    
    .user-profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 988px;

        .user-info {
            position: relative;
            color: $clrSecondary6;

            .info-block {
                align-items: center;
                justify-content: space-between;
                width:100%;
                min-width: 400px;
                height: 360px;
                padding: 30px;
                background-color: $clrPrimary1;
                border: 1px solid $clrSecondary2;
                margin-block-end: 20px;

                &:nth-child(2) {
                    justify-content: start;
                    align-items: start;

                    p {
                        margin: 0.5em 0;
                        width: 100%;
                        height: 100%;
                    }

                    .description-area {
                        width: 22.5em;
                        height: 260px;
                        border: none;
                        margin-left: -12px;
                        margin-top: 0;
                    }
                }

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }

                h2 {
                    text-align: center;
                    width: 100%;
                    text-transform: capitalize;
                }
                
                .username{ 
                    text-align: center;
                    width: 100%;
                }
                .location-and-time{

                    width: 100%;
                    &:first-child{
                        border-top: 1px solid $clrSecondary2;
                        margin-block-start: 1.5em;
                    }
                    .info-line {
                        justify-content: space-between;
                        width: 100%;
                        
    
                        span {
                            img {
                                height: 16px;
                                width: 14px;
                                margin-inline-end: em(12px);
                            }
                            &:nth-child(2){
                                font-weight: bold;
                            }
                        }
                    }
                }
                
            }
            @media (max-width: 900px){
                width: 100%;
            }
        }
        @media (max-width: 900px){
            flex-direction: column;
        }
    }
    &.visitor{
        background-color: $clrPrimary1;
    }
}