@font-face {
    font-family: macan-regular;
    src: url("../../fonts/macan-regular.woff2");
}
@font-face {
    font-family: macan-light;
    src: url("../../fonts/macan-light.ttf");
}
@font-face {
    font-family: macan-bold;
    src: url("../../fonts/macan-bold.ttf");
}