// Colors
$clrGray0: white;
$clrGray1: #f5f5f5;
$clrGray2: #ced1d6;
$clrGray3: #222325;
$clrGray4: #575353;
$clrGray5: #b5b6ba;
$clrGray6: #62646a;
$clrGray7: #404145;

$bgColor1: #0a4226;
$bgColor2: #2dd12d;

$clr1: #2e3bce;
$clr2: #6d08da;
$clr3: #574f7d;
$clr4: #f2a1e0;
$clr5: #f26e93;
$clr6: #af8484;
$clr7: #222;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;