// Colors
$clrPrimary1: #ffffff;
$clrPrimary2: #222325;

$clrSecondary1: #f5f5f5;
$clrSecondary2: #dadbdd;
$clrSecondary3: #ced1d6;
$clrSecondary4: #b5b6ba;
$clrSecondary5: #74767e;
$clrSecondary6: #62646a;
$clrSecondary7: #575353;
$clrSecondary8: #404145;

$bgColor1: #0a4226;
$bgColor2: #2dd12d;

$clr1: #19a463;
$clr2: #78cdd2;
$clr3: #29bd49;
$clr4: #d83b3b;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;