// Colors
$clrGray0: white;
$clrGray1: #f3efef;
$clrGray2: #e4e5e7;
$clrGray3: #222325;
$clrGray4: rgb(87, 83, 83);

$bgColor1: #0a4226;
$bgColor2: #2dd12d;
$clr1: #2e3bce;
$clr2: #6d08da;
$clr3: #574f7d;
$clr4: #f2a1e0;
$clr5: #f26e93;
$clr6: #af8484;
$clr7: #222;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;